@import "/src/styles/variables";

.pagination {
  display: flex;
  column-gap: 48px;

  &__element {
    display: flex;
    column-gap: 9px;
    align-items: center;
    padding: 8px 12px;
    cursor: pointer;
    outline: inherit;
    background: none;
    border: none;
    @extend .text-style-14-semibold;
    color: $blue_1;

    &__icon {
      fill: $blue_1;
      width: 9px;
      height: 9px;

      &__right {
        fill: $blue_1;
        transform: rotate(180deg);
        width: 9px;
        height: 9px;
      }
    }

    &:disabled {
      cursor: not-allowed;
      color: $dark_gray_1;

      .pagination__element__icon {
        fill: $dark_gray_1;
      }

      .pagination__element__icon__right {
        fill: $dark_gray_1;
      }

      :hover {
        outline: invert;
      }
    }

    &:hover:enabled {
      outline: 1px solid $light_gray_3;
      border-radius: 5px;
    }
  }
}
