@import "/src/styles/variables";

.repoElement {
  display: flex;
  align-items: flex-start;
  column-gap: 0.656rem;

  &__icon {
    min-width: 1rem;
    height: 1rem;
    fill: $dark_gray_2;
  }

  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    &__content_wraper {
      display: flex;
      row-gap: 5px;
      flex-direction: column;

      &__name {
        cursor: default;
        margin: 0rem;
        font-weight: 500;
        @extend .text-style-16-link;
        font-family: Roboto;
      }

      &__description {
        margin: 0px;
        @extend .text-style-16-semibold;
        color: $dark_gray_2;
      }
    }

    &__content_other {
      display: flex;
      align-items: center;
      column-gap: 14px;
      list-style-type: none;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      list-style-type: none;

      &__item {
        display: flex;
        align-items: center;
        column-gap: 3px;
        @extend .text-style-12-semibold;

        &__icon {
          fill: $dark_gray_2;
          min-width: 0.875rem;
          height: 0.875rem;
        }
      }
    }
  }

  .circle {
    width: 0.75rem;
    height: 0.75rem;
    position: relative;
    border-radius: 50%;
  }
}
