@import "/src/styles/variables";

.userElement {
  width: 100%;
  display: flex;
  justify-content: start;
  column-gap: 8px;

  &__image {
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    &__name_wraper {
      &__navigation {
        @extend .text-style-16-link;
        font-weight: 600;
        margin: 0px;
      }

      &__login {
        margin: 0px;
        @extend .text-style-16-semibold;
        color: $dark_gray_2;
      }
    }

    &__other_wraper {
      display: flex;
      flex-direction: column;
      row-gap: 8px;

      &__bio {
        margin: 0px;
        @extend .text-style-14-semibold;
        color: $darkest_gray;
      }

      &__location {
        @extend .text-style-12-semibold;
      }
    }
  }
}
