$black: #000000;
$darkest_gray: #24292f;
$dark_gray_2: #6f7781;
$dark_gray_1: #8d959f;
$white: #ffffff;
$light_gray_3: #d0d7de;
$light_gray_1: #f3f5f7;
$light_gray_2: #c4c4c4;
$blue_1: #166cd7;

$mobile: 36rem;

.loader {
  position: fixed;
  top: calc(50vh - (3.625rem / 2));
  left: calc(50vw - (3.625rem / 2));
  border: 0.5rem solid $light_gray_1;
  border-top: 0.5rem solid $light_gray_3;
  border-radius: 50%;
  width: 3.625rem;
  height: 3.625rem;
  animation: spin 2s linear infinite;

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
