// colors
$darkest_gray: #24292f;
$dark_gray_2: #6f7781;
$dark_gray_1: #8d959f;
$white: #ffffff;
$light_gray_3: #d0d7de;
$light_gray_1: #f3f5f7;
$light_gray_2: #c4c4c4;
$blue_1: #166cd7;

// breakpoints
$tablet: 768px;
$mobile: 576px;
