@import "/src/styles/variables";

.userPage {
  height: 100ch;
  width: 100%;

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
    margin-top: 45px;

    &__image {
      width: 18.5rem;
      height: 18.5rem;
      border-radius: 50%;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__name {
      margin: 0px;
      @extend .text-style-26-semibold;
    }

    &__login {
      margin: 0px;
      @extend .text-style-20-semibold;
    }

    &__info {
      margin-top: 13px;
      display: flex;
      column-gap: 19px;

      &__span {
        display: flex;
        column-gap: 4px;
        @extend .text-style-12-semibold;

        .userPage__icon {
          width: 1rem;
          height: 1rem;
          fill: $dark_gray_2;
        }

        &:hover {
          color: $blue_1;

          .userPage__icon {
            fill: $blue_1;
          }
        }
      }
    }
  }
}
