@import "/src/styles/variables";

.navbar {
  background-color: $darkest_gray;
  width: 100%;

  &__container {
    padding: 17px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__image {
      cursor: pointer;
      width: 38px;
      height: 38px;
    }

    &__input {
      border-radius: 5px;
      width: 237px;
      background-color: $darkest_gray;
      border: 1px solid $light_gray_3;
      padding: 6px 17px;
      color: $light_gray_3;
      @extend .text-style-16-semibold;

      &::placeholder {
        opacity: 100;
        color: $light_gray_3;
        @extend .text-style-16-semibold;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  .navbar {
    &__container {
      padding: 10px 20px;
    }
  }
}
